* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding-top: 130px;
}

.search-page {
    display: flex;
}


header{
    position: absolute;
    width: 100%;
  }

header {
    top: 0;
    background-color: rgb(47, 54, 47);
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: rgb(47, 54, 47);
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width:100%;
    position: fixed;
}

article, aside {
    margin-top: 0px;
    margin-bottom: 100px;
    flex: 1;
}

article, aside, section {
    /* Removed flex: 1 from article and aside to not force them into row layout */
    margin-top: 0px;
    margin-bottom: 100px;
    width: 100%; /* Set a width to fill the container */
}

.search {
    width: 44%;
    padding: 2px 6px;
    margin: 4px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: text; /
}

.sArrow {
    cursor: pointer;
    color:rgb(0, 0, 162);
}

.sArrow:hover {
    color: #bd30cf;
    cursor: pointer;
}


article {
    padding: 60px 20px 20px;
    background-color: #ededed; 
    margin-left: 10px;
}

aside {
    flex-grow: 1;
    flex: 0 0 15%; 
    background-color: #ededed; 
    padding: 20px; 
    height: 375px;
    margin-right: 20px;
    order: -1;
  }

  aside fieldset {
    border: none;
  }

aside h2, aside .form-group, aside button {
    margin-bottom: 30px; 
}

.filter-active {
    background-color: #f0f0f0; /* or any color to indicate the filter is active */
}

#filterButton, #clearButton {
    margin: 10px;
    padding: 10px;
}

label {
    margin: 5px;
}

h2 {
    text-align: center;
    margin: 15px;
}

.form-box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-group label {
    width: 30px;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; 
  }

  th {
    background-color: #e3e3e3; 
    text-align: left; 
  }

  td, th {
    padding: 8px; 
    border: 1px solid hsl(0, 0%, 94%); 
  }

  th, td {
    text-align: center;
    padding: 8px;
  }


#song-table {
    width: 100%;
}

.songs-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow-y: auto;
    max-height: 500px;
}

.songs-list li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
}


.songs-list li > span {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

.songs-list-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 0;
}

.songs-list-header > span {
    flex: 1;
    text-align: left;
    padding: 0 10px;
}

button {
    background-color: rgb(47, 54, 47);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 5px;
    cursor: pointer;
  }

  #artist-label {
    margin-right: auto;
}

#artist-select, #genre-select {
    width: auto;
}

#artist-select,
#genre-select {
    width: 50%;
    padding: 2px 6px;
    margin: 4px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

label {
    margin-right: 10px;
}


section {
    width: 100%;
}

.song-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container3 {
    flex: 1;
    background-color: #ededed; 
    width: 40%;
    font-size: 30px;
    margin: 15px;
    padding: 10px;
    text-align:center;
}
.container3 li, p{
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}

ul {
    list-style-type:none;
}

.container4{
    flex: 2;
    background-color: #ededed; 
    margin: 15px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}



/* .form-group select {
    flex-grow: 1;
}

.container3 {
    width: 50%;
    height: auto;
    width: 50%;
}

#header-close-button, 
#header-credits-button, 
#tablebutton{
    width: 100px;
    height: 40px;
}

#header-close-button, 
#header-credits-button {
    /* float: right; */
 